{% extends 'defaultLayout.html.twig' %}

{% block body %}
    <h1>Stage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ stage.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ stage.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stage_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
