{% extends 'defaultLayout.html.twig' %}

{% block currentAccueil %} class="current_page_item" {% endblock %}

{% block content %}
<section id="content" class="site-content">

  <div id="sequence"><!--
    <span class="sequence-prev" alt="Previous" /><i class="fa fa-angle-left"></i></span>
    <span class="sequence-next" alt="Next" /><i class="fa fa-angle-right"></i></span>
  -->
  <ul class="sequence-canvas">



    <li>
      <div class="slide-title">Vous êtes étudiant?</div>
      <div class="slide-description">Hard Workers vous accompagne lors de vos recherches de stage à l’étranger</div>
      <a class="slide-arrow" href="#etudiant">Voir nos offres de stage</a>

      <div class="bg" style="background: url('{{asset ('frontt/images/pre%cc%81paration-examens-sophrologie.jpg')}}') center center; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover;">
      </li>


    </ul><!-- sequence-canvas -->
  </div><!-- sequence -->


  <div class="home-cta">
    <div class="grid grid-pad">

      <div class="col-10-12">
        <h4>Notre but : se faire rencontrer stagiaires qualifiés et entreprises professionnalisantes</h4>
      </div><!-- col-10-12 -->

      <div class="col-2-12 push-right">
      </div><!-- col-2-12 -->

    </div><!-- grid -->
  </div><!-- home-cta -->





  <div class="home-services">
    <div class="grid home-divider-1">

      <div class="su-custom-gallery-slide col-1-14" data-index="0">  </div>
      <div class="col-1-2">
        <aside id="text-4" class="widget widget_text">
          <div class="textwidget"><div class="home-point">
            <h5>Qui sommes-nous ?</h5><p>
              Hard Workers est constitué de professionnels des ressources humaines et des professeurs des grandes
              écoles afin de :<br/>
              - mettre en relation des stagiaires qualifiés et des professionnels<br/>
              - veiller au bon déroulement de la transition école / vie active</p>
            </div>
          </div>
        </aside>
        <div class="su-accordion">
          <div class="su-spoiler su-spoiler-style-fancy su-spoiler-icon-plus su-spoiler-closed"><div class="su-spoiler-title"><span class="su-spoiler-icon">
          </span>Pour les étudiants</div><div class="su-spoiler-content su-clearfix">
            Hard Workers vous accompagne lors de vos recherches de stage à l’étranger :<br/>
            - Vous aide à rédiger un CV convainquant.<br/>
            - Vous forme aux techniques d’entretiens pour mieux vous vendre.<br/>
            - Vous accompagne lors de vos démarches administratives.<br/>
            - Vous met en relation avec les professionnels du secteur pour un stage en adéquation avec vos
            études et le marché de travail.</div></div>
            <br /><div class="su-spoiler su-spoiler-style-fancy su-spoiler-icon-plus su-spoiler-closed"><div class="su-spoiler-title"><span class="su-spoiler-icon">
            </span>Pour les professionnels</div><div class="su-spoiler-content su-clearfix">
              Hard Workers vous accompagne dans vos besoins de stagiaires :<br/>
              - Vous propose des stagiaires qualifiés et opérationnels.<br/>
              - Vous soulage dans la prise en charge administrative et financière des stagiaires. <br/>
              - Vous assure une interface simple et efficace pour la recherche de vos futurs stagiaires. </div></div>
            </div>
          </div><!-- col-1-2 -->

          <div class="col-1-4">

            <!--<aside id="text-3" class="widget widget_text">			<div class="textwidget"><img class="aligncenter" src="{{ asset('frontt/images/dreamstime_xxl_11620953.png') }}" width="100%" ></div>
          </aside>
        -->
        <video width="400" controls>
          <source src="{{ asset("presentation.mp4")}}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div><!-- col-1-2 -->


      </div><!-- grid -->

    </div><!-- home-services -->





    <section id="etudiant" >
      <header style=" background: url('{{asset ('frontt/images/banner.jpg')}}');" class="entry-header">
        <div class="grid grid-pad">
          <div class="col-1-1">
            <h1  class="entry-title"> Offres de stages</h1>        	</div><!-- .col-1-1 -->
          </div><!-- .grid -->
        </header>

        <br />

        <div class="grid grid-pad">



          {% set i = 0 %}
          {% for entity in entities %}
          {% if (i==0) or (i==1)%}
          {% set i = i+1 %}
          <div class="col-1-2 mobile-col-1-1">

            <div class="works">
              <!--<a href="https://modernthemes.net/wordpress-demo/business/work/wordpress-camp/"><img width="400" height="300" src="https://modernthemes.net/wordpress-demo/business/wp-content/uploads/sites/7/2014/08/wordpress-camp-400x300.jpg" class="attachment-client size-client wp-post-image" alt="wordpress-camp"></a>
            --><h1 class="works-entry-title">{{ entity.titre|slice(0, 100) }}</h1>
            <p class="works-description">{{ entity.description |striptags|slice(0, 267) }}...<br><a href="{{ path('stage', {'id': entity.id}) }}">Lire la suite →</a></p>
          </div><!-- works -->

        </div><!-- col-1-4 -->
        {% endif %}
        {% endfor %}
        <br />

        <div style="text-align:center;">
          <a href="{{ path('stages')}}"><button>Voir toutes les offres de stages</button></a>
        </div>
        <br />
        <br />
      </div>
    </section>


    <section id="news">
      <header style=" background: url('{{asset ('frontt/images/banner.jpg')}}');" class="entry-header">
        <div class="grid grid-pad">
          <div class="col-1-1">
            <h1  class="entry-title"> News & Événements</h1>        	</div><!-- .col-1-1 -->
          </div><!-- .grid -->
        </header>

        <br />

        <div class="row">
          <div class="su-custom-gallery su-custom-gallery-title-never su-lightbox-gallery">

            <div class="su-custom-gallery-slide col-1-10" data-index="0">  </div>
            <div class="col-1-2">
              <aside id="text-4" class="widget widget_text">
                <div class="textwidget"><div class="home-point">
                  <h5 style="text-align:center;">Journée de formation</h5>

                </div>
              </div>
            </aside>
            <div class="su-accordion">
              <div class="su-spoiler su-spoiler-style-fancy su-spoiler-icon-plus su-spoiler-closed"><div class="su-spoiler-title"><span class="su-spoiler-icon">
              </span>Savoir faire et savoir être via un cv pour décrocher un stage </div><div class="su-spoiler-content su-clearfix">
                Qui sommes nous ?<br/>
                Le CV c'est quoi ?<br/>
                Comment puis-je rédiger un bon CV ?<br/>
                Comment être professionnel via un CV ?<br/>
                Comment montrer mon savoir faire via un CV ?<br/>
                Comment envoyer un CV ?<br/>
                Mon profil sur les réseaux sociaux<br/>
                Comment trouver l'offre de stage qui me correspond ?<br/>
                Face au recruteur : expliquer son parcours et se vendre.<br/>
                Après l'entretien : comment suivre vos candidatures efficacement.<br/>
                Cas pratiques.</div></div>
              </div>
              L'association Hard Workers organise des sessions de formation pour préparer le forum du stage : <br/>
              <div style="text-align:center;">- Le 22 et 23 octobre à Tunis. <br/>
                &nbsp;&nbsp;- Le 24 et 25 octobre à Sousse.</div><br/>
                Par Wided Carpentier, spécialiste du recrutement digital en France.
              </div><!-- col-1-2 -->
              <div class="su-custom-gallery-slide col-1-4" data-index="0">
                <a href="{{ asset('frontt/images/news/news1.jpg') }}" title="news1">
                  <img src="{{ asset('frontt/images/news/news1.jpg') }}" alt="news1" width="200" height="200">
                </a>
              </div>
              <div class="su-custom-gallery-slide col-1-4" data-index="0">  </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="fondateurs">
      <header style=" background: url('{{asset ('frontt/images/banner2.jpg')}}');" class="entry-header">
        <div class="grid grid-pad">
          <div class="col-1-1">
            <h1  class="entry-title"> Nos fondateurs</h1>        	</div><!-- .col-1-1 -->
          </div><!-- .grid -->
        </header><!-- .entry-header -->
        <br />
        <div class="grid grid-pad member" >
          <div class="col-1-2">
            <div class="col-1-2">
              <img width="600" height="400" src="{{asset ('frontt/images/Sans-titre-2.jpg')}}" class="attachment-member size-member wp-post-image">              <h1 class="member-entry-title">Wided CARPENTIER</h1>
            </div>
            <div class="col-1-2">
              <h6 class="member-title">Co-fondateur Hardworkers</h6>
              <p class="member-description">Une jeune femme qui s'investit dans la domaine RH et digital et dans le milieu socio-culturels. Avec son âme entrepreneuse, Wided a su s’imposer dans le domaine des nouvelles technologies dès sa sortie d’école. Diplômée des Sciences Juridiques Politiques et Sociales et de l’ENA Tunis, Wided a travaillé dans le département informatique et digital de la municipalité de Tunis afin de donner accès à des services digitaux aux citoyens de la capitale tunisienne. A son arrivée en France en 2004, Wided a exercé dans le domaine des RH liée aux nouvelles technologies et dans le domaine de la formation professionnelle.
                <a ><span style="cursor:pointer" id="myBtn4"> Lire la suite..</span></a></p>
                <div id="myModal4" class="modal">
                  <div class="modal-content">
                    <span class="close">×</span>
                    <p>Wided CARPENTIER – Une jeune femme qui s'investit dans la domaine RH et digital et dans le milieu socio-culturels. Avec son âme entrepreneuse, Wided a su s’imposer dans le domaine des nouvelles technologies dès sa sortie d’école. Diplômée des Sciences Juridiques Politiques et Sociales et de l’ENA Tunis, Wided a travaillé dans le département informatique et digital de la municipalité de Tunis afin de donner accès à des services digitaux aux citoyens de la capitale tunisienne.
                      <br/><br/>A son arrivée en France en 2004, Wided a exercé dans le domaine des RH liée aux nouvelles technologies et dans le domaine de la formation professionnelle.

                      En 2011, Wided fonde son agence Le Meilleur est à Venir pour s’imposer en tant qu’agence garantissant une qualité irréprochable de recrutement et de formation. Avec plus de 3 000 heures d’entretiens, Wided a eu une expérience remarquée dans le domaine du recrutement et gestion des talents.
                      <br/><br/>Très active dans le domaine associatif, Wided a rejoint différentes structures en France et a en crée plusieurs - Hard Workers et Awledna.
                      Parcours Express :<br/>
                      1998 : Diplômée des sciences juridiques, politiques et sociales de Tunis II<br/>
                      2000 : Diplômée de l’ENA de Tunis – Major de promotion<br/>
                      2000 : Rejoint la Ville de Tunis, service de l’informatique et la formation<br/>
                      2004 : Responsable régionale à l’AGEFICE – OPCA pour les Chefs d’entreprises non-salariés<br/>
                      2011 : Fondatrice et Dirigeante de son agence Le Meilleur est à Venir<br/>
                      2011 : Vice-présidente à la FCPE jusqu’à nos jours<br/>
                      2015 : Trésorière de l’association Saint Ferdinand<br/>
                      2016 : Co-fondatrice et Vice-Présidente de la fondation Hard Workers<br/>
                      2016 : Fondatrice et Présidente de l’association Awledna</p><br/>
                    </div>
                  </div>
                </div>
              </div><!-- col-1-3 -->


              <div class="col-1-2">
                <div class="col-1-2">
                  <img width="600" height="400" src="{{asset ('frontt/images/kais-mabrouk.jpg')}}" class="attachment-member size-member wp-post-image">              <h1 class="member-entry-title">Kais Mabrouk</h1>
                </div>
                <div class="col-1-2">
                  <h6 class="member-title">Co-fondateur Hardworkers</h6>
                  <p class="member-description">Kais Mabrouk est l’exemple type du jeune entrepreneur qui depuis sa sortie de Telecom Paristech en 2008, agit dans le cercle des Affaires. Originaire de Montereau Fault-Yonne, il ne croit qu’à la besogne unique chemin qui mène à la réussite.
                    Débutant en tant qu’ingénieur R&D au sein la firme Sagem Mobile du groupe SAFRAN l’ « issu » de la 3eme génération de l'immigration prouve à ceux qui l’entoure que l‘excellence est un Mérite.
                    Son combat au quotidien est hyper chargé par la création et le développement pour être récemment reconnu ambassadeur de Montereau Connexions et médaillé du mérite de sa ville natale.
                    <a ><span style="cursor:pointer" id="myBtn5"> Lire la suite..</span></a> </p>

                    <div id="myModal5" class="modal">
                      <div class="modal-content">
                        <span class="close">×</span>
                        <p>Kais Mabrouk est l’exemple type du jeune entrepreneur qui depuis sa sortie de Telecom Paristech en 2008, agit dans le cercle des Affaires. Originaire de Montereau Fault-Yonne, il ne croit qu’à la besogne unique chemin qui mène à la réussite.
                          Débutant en tant qu’ingénieur R&D au sein la firme Sagem Mobile du groupe SAFRAN l’ « issu » de la 3eme génération de l'immigration prouve à ceux qui l’entoure que l‘excellence est un Mérite.
                          <br/><br/>Son combat au quotidien est hyper chargé par la création et le développement pour être récemment reconnu ambassadeur de Montereau Connexions et médaillé du mérite de sa ville natale.
                          Son parcours express:<br/>
                          2008 Phd Télécom ParisTech<br/>
                          2008 Ingénieur R&D SAGEM Mobile France groupe SAFRAN<br/>
                          2009 Fondateur de Altronic<br/>
                          2010 Président la Chambre Économique de Seine et Marne<br/>
                          2011 Maitre de Conférence à l’école supérieure de génie informatique et télécoms<br/>
                          2012 Directeur du développement au sein du Groupe français d’écoles d’ingénieur  EFREI-ESIGETEL<br/>
                          2012 Chercheur à la Faculté des Sciences de Tunis<br/>
                          2013 Professeur associé à l’École Polytechnique de Sousse<br/>
                          2013 Co-Fondateur de Pixel Drone Technologies<br/>
                          2014 Fondateur de la Chaine télé First TV<br/>
                          2014 Fondateur de l'IINA<br/>
                          2015 Président de la Chambre Syndicale Nationale de l'Enseignement Supérieur Privé des Écoles d'architecture, de l'Audiovisuel et du Design<br/>
                          2016 Président de la Fondation Hardworkers France<br/>
                          Auteur de 2 Brevets d'invention internationaux et plus de 20 Articles IEEE<br/></p>
                        </div>
                      </div>
                    </div><!-- col-1-3 -->


                  </div>
                </div><!-- grid -->
              </section>


              <br />

              <section id="galerie">
                <header style=" background: url('{{asset ('frontt/images/banner.jpg')}}');" class="entry-header">
                  <div class="grid grid-pad">
                    <div class="col-1-1">
                      <h1  class="entry-title"> Galerie de photos</h1>        	</div><!-- .col-1-1 -->
                    </div><!-- .grid -->
                  </header>
                  <div class="row">

                    <div class="su-custom-gallery su-custom-gallery-title-never su-lightbox-gallery">

                      <div class="col-1-6" data-index="3">&nbsp;</div>

                      <div class="su-custom-gallery-slide col-1-6" data-index="0">
                        <a href="{{ asset('frontt/images/wided/1.jpg') }}" >
                          <img src="{{ asset('frontt/images/wided/1.jpg') }}"  width="200" height="200">
                        </a>
                      </div>
                      <div class="su-custom-gallery-slide col-1-6" data-index="1">
                        <a href="{{ asset('frontt/images/wided/2.jpg') }}" title="450867851">
                          <img src="{{ asset('frontt/images/wided/2.jpg') }}" alt="450867851" width="200" height="200">
                        </a>
                      </div>
                      <div class="su-custom-gallery-slide col-1-6" data-index="3">
                        <a href="{{ asset('frontt/images/wided/6.jpg') }}" >
                          <img src="{{ asset('frontt/images/wided/6.jpg') }}"  width="200" height="200">
                        </a>
                      </div>
                      <div class="su-custom-gallery-slide col-1-6" data-index="3">
                        <a href="{{ asset('frontt/images/wided/4.jpg') }}" >
                          <img src="{{ asset('frontt/images/wided/4.jpg') }}"  width="200" height="200">
                        </a>
                      </div>
                      <div class="su-clear">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div style="text-align:center;">
                      <a href="{{ path('galerie')}}"><button>Ouvrir la Galerie de photos</button></a>
                    </div>
                    <br />
                  </div>
                </section>
                <br />


                <section id="nous_soutenir">
                  <header style="background: url('{{asset ('frontt/images/banner1.jpg')}}')" class="entry-header">
                    <div class="grid grid-pad">
                      <div class="col-1-1">
                        <h1  class="entry-title"> Nous soutenir</h1>        	</div><!-- .col-1-1 -->
                      </div><!-- .grid -->
                    </header><!-- .entry-header -->
                    <div class="services">
                      <div class="grid grid-pad">
                        <div class="col-1-8">&nbsp;</div>
                        <div class="col-1-4">

                          <div  style="cursor:pointer" id="myBtn">
                            <i class="fa fa-thumbs-o-up"></i>

                            <h1 >Faire un don</h1>
                            <p>Aidez l’association</p>
                          </div>

                          <div id="myModal" class="modal">
                            <div class="modal-content">
                              <span class="close">×</span>
                              ~~ Aidez l’association en faisant un don ~~<br/>
                              <img src="{{ asset("frontt/images/send-mail.png")}}" />
                              <h5>PAR VOIE POSTALE</h5>
                              <p>Envoyez votre don à l’ordre de « HardWorkers »<br/>
                                53 avenue des ternes 75017 Paris.</p>
                              </div>
                            </div>
                          </div><!-- col-1-4 -->

                          <div class="col-1-4">

                            <div  style="cursor:pointer" id="myBtn2">
                              <i class="fa fa-link"></i>

                              <h1>Adhérer</h1>

                              <p>Aidez l’association</p>
                            </div>

                            <div id="myModal2" class="modal">
                              <form action="{{ path('adhesion')}}" metod="GET">
                                <div class="modal-content">
                                  <span class="close">×</span>
                                  <h5>Formulaire d'adhésion</h5><br/>
                                  <div><label for="author">Nom & Prénom <span class="required">*</span></label> <input id="nom" name="nom" type="text" value="" size="30" maxlength="120" aria-required="true" required="required"></div>
                                  <br/><div><label for="author">&nbsp;&nbsp;Adresse Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="120" aria-required="true" required="required"></div>
                                  <br/><div><label for="author">&nbsp;Numéro de Tél  <span class="required">*</span></label> <input id="tel" name="tel" type="text" value="" size="30" maxlength="120" aria-required="true" required="required"></div>

                                  <br/>
                                  <fieldset id="adhesion">
                                    <legend>OUI, j‘adhère à Hardworkers pour un montant de </legend>
                                    <input type="radio" name="adhesion" value="10" required />&nbsp;10€ adhésion simple&nbsp;<br/>
                                    <input type="radio" name="adhesion" value="50"/>&nbsp;50€ adhésion soutien
                                  </fieldset>

                                  <br/><br/><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Demander l'adhésion"> <input type="hidden" name="comment_post_ID" value="117" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                  </p>
                                </div>
                              </form>
                            </div>
                          </div><!-- col-1-4 -->

                          <div class="col-1-4">

                            <div  style="cursor:pointer" id="myBtn3">
                              <i class="fa fa-star"></i>

                              <h1>Devenir bénévole</h1>

                              <p>Aidez l’association</p>
                            </div>

                            <div id="myModal3" class="modal">
                              <div class="modal-content">
                                <span class="close">×</span>
                                ~~ Devenir bénévole ~~<br/>
                                <img src="{{ asset("frontt/images/send-mail.png")}}" />
                                <h5>PAR VOIE POSTALE</h5>
                                <p>Envoyez votre demande à l’ordre de « HardWorkers »<br/>
                                  53 avenue des ternes 75017 Paris.</p>
                                </div>
                              </div>
                            </div><!-- col-1-4 -->

                          </div><!-- grid -->
                        </div>
                      </section>




                      <br />

                      <section id="nos_partenaires">
                        <header style=" background: url('{{asset ('frontt/images/banner.jpg')}}');" class="entry-header">
                          <div class="grid grid-pad">
                            <div class="col-1-1">
                              <h1  class="entry-title"> Nos partenaires</h1>        	</div><!-- .col-1-1 -->
                            </div><!-- .grid -->
                          </header>
                          <br/>
                          <br/>
                          <div class="row">

                            <div class="su-custom-gallery su-custom-gallery-title-never su-lightbox-gallery">

                              <div class="col-1-4" data-index="3">&nbsp;</div>

                              <div style="text-align:center;" class="col-1-12" data-index="0">
                                <a  target="_blank"href="http://dataondemand.fr/" >
                                  <img class="partner_img" src="{{ asset('frontt/images/partenaire/1.png') }}"  width="55">
                                </a>
                              </div>
                              <div style="text-align:center;" class="col-1-6" data-index="0">
                                <a target="_blank" href="http://tfbank.fr/" >
                                  <img class="partner_img" src="{{ asset('frontt/images/partenaire/2.png') }}"  width="145">
                                </a>
                              </div>
                              <div style="text-align:center;" class="col-1-6" data-index="0">
                                <a target="_blank" href="http://www.misterbell.com/" >
                                  <img class="partner_img" src="{{ asset('frontt/images/partenaire/3.png') }}"  width="190">
                                </a>
                              </div>
                              <div class="col-1-6" data-index="0">
                                <a href="" >
                                  <img  width="200">
                                </a>
                              </div>
                              <div class="su-clear">
                              </div>
                            </div>
                          </div>
                        </section>
                        <br />


                        <section id="nous_contacter">
                          <header style="background: url('{{asset ('frontt/images/banner.jpg')}}')" class="entry-header">
                            <div class="home-cta">
                              <div class="grid grid-pad">
                                <div class="col-10-8">
                                  <h4>Nous contacter </h4>
                                </div><!-- col-10-12 -->
                                <div class="col-2-8 push-right">
                                  <button id="BtnContact">Envoyer un message</button>
                                </div><!-- col-2-12 -->
                              </div><!-- grid -->
                            </div>
                          </header><!-- .entry-header -->
                          <div id="myModalContact" class="modal">
                            <div class="modal-content">
                              <span class="close">×</span>
                              <center>
                                <form action="{{ path('contact')}}" metod="GET">
                                  <h5>Formulaire de contact</h5><br/>
                                  <div><label for="author">Nom & Prénom <span class="required">*</span></label> <input id="nom" name="nom" type="text" value="" size="30" maxlength="120" aria-required="true" required="required"></div>
                                  <br/><div><label for="author">&nbsp;&nbsp;Adresse Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="120" aria-required="true" required="required"></div>
                                  <br/><div><label for="author">&nbsp;Message  <span class="required">*</span></label>
                                    <br/><textarea id="msg" name="msg" type="text" rows="4" cols="50"  aria-required="true" required="required"></textarea>
                                  </div>
                                  <br/><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Envoyer"> <input type="hidden" name="comment_post_ID" value="117" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                  </p>
                                </form>
                              </center>
                            </div>
                          </div>
                        </section><!-- #content -->





                      {% endblock %}
